<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <meta name="description" content="Free Bootstrap Themes Designed by 365Bootstrap" />
    <meta name="author" content="http://www.365bootstrap.com" />

    <title>365Bootstrap.com</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- /////////////////////////////////////////Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container">
	        <!-- Nav -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="http://www.365bootstrap.com">365Bootstrap.com</a>
	        </div>
	        <!-- Nav collapse -->
	        <div class="collapse navbar-collapse" id="menu">
	            <ul class="nav navbar-nav navbar-left">
	                <li><a href="#">Home</a></li>
	                <li><a href="#">Blog</a></li>
	                <li><a href="#">About</a></li>
	                <li><a href="#">Contact</a></li>
	            </ul>
	        </div>
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container -->
	</nav>
	<!-- Navigation -->
	<!-- /////////////////////////////////////////Header -->
	<div class="container">
		<header >
			<div class="row">
				<div class="col-lg-12">
					<h1>Bootstrap Themes</h1>
					<div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</div>
					<a href="#" class="btn btn-primary">Call to action!</a>
				</div>
			</div>
		</header>
		<hr>
	</div>
	<!-- Header -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		<div class="container">
			<div class="heading">
				<h2>Our Team</h2>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-3">
						<div class="box-item">
							<img src="images/1.jpg" alt="">
							<h3>Text Heading</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio .</p>
							<a href="#" class="btn btn-primary">Call to action!</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-item">
							<img src="images/1.jpg" alt="">
							<h3>Text Heading</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio .</p>
							<a href="#" class="btn btn-primary">Call to action!</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-item">
							<img src="images/1.jpg" alt="">
							<h3>Text Heading</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio .</p>
							<a href="#" class="btn btn-primary">Call to action!</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-item">
							<img src="images/1.jpg" alt="">
							<h3>Text Heading</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio .</p>
							<a href="#" class="btn btn-primary">Call to action!</a>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">Copyright &copy; Your Website - <a href="http://www.365bootstrap.com" target="_blank">Bootstrap Themes</a> Designed by 365Bootstrap.com</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->
<!-- jQuery -->
<script src="js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>