/*!
Free Bootstrap Themes : http://www.365bootstrap.com
 */
 
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #ffffff; color: #333333;font-size: 16px; font-family: Arial, Helvetica, sans-serif}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #337AC6;text-decoration: none;}
a:hover {opacity: 0.9; text-decoration: none;}

h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

p{margin-bottom: 20px;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

hr {border: 1px solid #eee;margin-top: 30px;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header {margin-top: 80px;background: #eee;padding: 50px;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;-khtml-border-radius: 8px;}
header  .intro {font-size: 20px;font-weight: bold;margin-bottom: 20px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content {margin-bottom: 50px;}
#page-content .heading {margin-bottom: 30px;}
#page-content .heading h2 {font-size: 28px;}
#page-content .content {}
#page-content .box-item {text-align: center;padding: 5px 5px 30px 5px;border: 1px solid #ddd; margin-bottom: 10px;}
#page-content .box-item img {margin-bottom: 20px;}
#page-content .box-item h3 {}
#page-content .box-item  span {}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {}
footer .wrap-footer {padding-bottom: 50px;}

